.design{
    /* background-color:rgb(255, 242, 0); */
    background-image: url("../static/images/games.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
        
}

h1{
    text-align: center;
    color: aliceblue;
    font-size: 70px;
    text-shadow: 2px 2px #000;
    font-family: sans-serif;
}
button{
    background-color: #ffeec6;
    top:100%;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:100px; 
    min-width: 250px;
    font-size: larger;
    font-family: sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
    
}
button:hover{
    font-size: x-large;
    background-color: #96ddea;
}
.parent{
    text-align: center;

}
a{
    text-decoration: none;
}
